
body *, body *::after, body *::before, body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 4.5em 8.2%;


    background: hsl(204, 43%, 93%);
}

body p {
    line-height: 1.6;
}


